obsidian/Cache/
AmethystModManager/Profiles/Skyrim Special Edition/
AmethystModManager/tools/
AmethystModManager/games/Skyrim Special Edition/
Blockbench/Cache/
OpenTabletDriver/Logs/
aseprite/files/
blender/4.5/
blender/5.0/extensions/
heroic/Cache/
heroic/Partitions/
heroic/images-cache/
heroic/legendaryConfig/
micro/syntax/
mozilla/firefox/
obs-studio/logs/
obs-studio/profiler_data/
obsidian/Code Cache/
obsidian/IndexedDB/
profiles/
vesktop/sessionData/
noctalia/plugins/simple-notes/
