# This is the OpenMW user 'settings.cfg' file.  This file only contains
# explicitly changed settings.  If you would like to revert a setting
# to its default, simply remove it from this file.  For available
# settings, see the file 'files/settings-default.cfg' in our source repo or the documentation at:
#
#   https://openmw.readthedocs.io/en/master/reference/modding/settings/index.html

[Camera]
viewing distance = 7208

[Fog]
sky blending start = 0.8
sky blending = true

[Shadows]
actor shadows = true
enable shadows = true
object shadows = true
player shadows = true
terrain shadows = true

[Video]
antialiasing = 8
framerate limit = 144
resolution x = 2560
resolution y = 1440
screen = 1
window mode = 1

[Game]
NPCs avoid collisions = true
always allow stealing from knocked out actors = true
barter disposition change is permanent = true
followers attack on sight = true
only appropriate ammunition bypasses resistance = true
rebalance soul gem values = true
shield sheathing = true
smooth movement = true
strength influences hand to hand = 1
swim upward correction = true
turn to movement direction = true
unarmed creature attacks damage armor = true
use additional anim sources = true
use magic item animations = true
weapon sheathing = true

[Input]
toggle sneak = true

[Post Processing]
enabled = true

[Shaders]
auto use object normal maps = true
auto use terrain normal maps = true
soft particles = true
